In [41]:
import pandas as pd
import numpy as np

In [42]:
data = {
    'col1' : [1,2,3,4,5,6],
    'col2' : [2,3,4,5,2,4],
    'col3' : [1,2,3,4,5,6],
    'col4' : [1,2,3,4,5,6],
    'col5' : [1,2,3,4,5,6],
}

In [43]:
df = pd.DataFrame(data)
df.index = ['A','B','c','D','E','F']
df

   col1  col2  col3  col4  col5
A     1     2     1     1     1
B     2     3     2     2     2
c     3     4     3     3     3
D     4     5     4     4     4
E     5     2     5     5     5
F     6     4     6     6     6

In [44]:
df.to_csv('Test_sample1.csv')

In [45]:
df1 = pd.DataFrame(np.arange(0,20).reshape(5,4), index = ['A','B','c','D','E'], columns = ['col1','col2','col3','col4'])
df1

   col1  col2  col3  col4
A     0     1     2     3
B     4     5     6     7
c     8     9    10    11
D    12    13    14    15
E    16    17    18    19

## Accessing elements using loc and iloc

In [46]:
df1.loc['B','col2']

5

In [47]:
type(df1.loc['B','col2'])

numpy.int32

In [48]:
type(df1.loc['B':'c','col2':'col3'])

pandas.core.frame.DataFrame

In [49]:
df1.iloc[2:4,0:2]

   col1  col2
c     8     9
D    12    13

In [50]:
df.col1

A    1
B    2
c    3
D    4
E    5
F    6
Name: col1, dtype: int64

In [51]:
df['col1']

A    1
B    2
c    3
D    4
E    5
F    6
Name: col1, dtype: int64

In [52]:
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
col5    0
dtype: int64

In [53]:
df['col1'].unique()

array([1, 2, 3, 4, 5, 6], dtype=int64)